.review-box {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border:0.5px solid lightgray;
  margin: 6px 0px 0px 0px;
  padding: 9px 11px 9px 10px
}

.review-dropdown {
  border-radius: 25px;
  margin: 0px 0px 2px 2px;
}

.review-button {
  border: 0px;
              background-color: lightblue;
              border-radius: 8px;
}
.review-parent{
      display: inline-block;
      position: relative;
}

.review-input {
  border-radius: 10px;height: 40px;
  width: 240px;
}