<h2>List Units</h2>
        <div class="parent-login-div">
                <div>
                       <div>
                           <span>Blueground On </span>
                           <div class="mars-circle-parent">
                                <span class="mars-icon">
                                        <i class="mars-circle"></i>
                                        <span class="mars-text">Mars</span>
                                    </span>
                           </div>
                        </div>  
                </div>
            
                <div>
                       <div >
                            <div class="inner-addon left-addon" style="float:right;">
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 <label class="userLabel">{{user}}</label>
                                    
                             </div>
                            <div class="inner-addon left-addon">
                                 <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="searchInput" placeholder="Search.." [(ngModel)]="searchText"/>
                             </div> 
                       </div>
                </div>
            
        
            <div class="wrapper">
                    <div class="box" >
                    <div *ngFor="let unit of units | filter : searchText | sortBy : 'score'">
                            <unit [unit]="unit" (reviewForUnitPosted) = "onPosted($event)"></unit> 
                    </div>
                    </div>
            </div>
        </div>


